@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
	margin: 0;
	padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
html{
	scroll-behavior: smooth;
}
.banner{
	height: 100vh;
    background: #b92b27;
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);
    background: linear-gradient(to right, #1565C0, #b92b27);
    clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)
  );
}
.banner .logo{
	padding: 18px;
	color: #fff;
	font-size: 22px;
}
.banner .text{
	font-size: 30px;
    line-height: 40px;
    letter-spacing: 3px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    text-align: center;
}
.banner .text .btn{
	font-size: 20px;
    display: inline-block;
    padding: 2px 9px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s ease;
    background: #cb2d3e;
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);
    background: linear-gradient(to right, #ef473a, #cb2d3e); 
}
.banner .text .btn:hover{
	transform: scale(.95);
}
a{
	text-decoration: none;
	color: inherit;
}
.section{
	text-align: center;
	padding-top: 0px;
}
.section p{
    line-height: 30px;
    letter-spacing: 2px;
    margin-top: 0px;
    padding: 40px;
    padding-top: 25px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.section h1{
    padding: 40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.footer{
	text-align: center;
	padding:20px;
	background:#fafafa;
	margin-top: 20px;
}
.section span{
	background: #1488CC; 
	background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
	background: linear-gradient(to right, #2B32B2, #1488CC); 
	-webkit-text-fill-color:transparent;
	-webkit-background-clip:text;
}
.section .btn{
    font-size: 20px;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 11px;
    transition: .3s ease;
    color: #fff;
    background: #1488CC;
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
    background: linear-gradient(to right, #2B32B2, #1488CC); 
}
.section .btn:hover{
	transform: scale(.95);
}
@media(max-width:800px){
.navbar{
	position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 9;
    background: #4776E6;  
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6); 
    background: linear-gradient(to right, #8E54E9, #4776E6); 
    padding: 26px;
    transition: .3s ease;
    transform: translateY(-400px);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}
.navbar.show{
	transform: translateY(0px);
}
}
.navbar a{
	display: block;
    padding: 10px 20px;
    color: #fff;
    margin-bottom: 10px;
    width: fit-content;
    position: relative;
}
.navbar a:after{
	content: "";
    width: 0px;
    background: #fff;
    height: 3px;
    position: absolute;
    bottom: 0px;
    left: 20px;
    border-radius: 20px;
    transition: .3s ease;
    opacity: 0;
}
.navbar a:hover:after {
	opacity: 1;
	width: 25px;
}
@media(min-width:801px){
	.navbar{
		box-shadow: none;
		background: none;
		position: absolute;
		top: 10px;
		right: 0;
		transform: translateY(0px);
		width: fit-content;
	}
	.bar{
		display: none;
		z-index:9999;
	}
	.navbar a{
		display: inline-block;
	}
}
.bar {
    position: absolute;
    right: 24px;
    top: 19px;
    height: 6px;
    width: 37px;
    background: #ff9966; 
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
    background: linear-gradient(to right, #ff5e62, #ff9966); 
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 99999;
}
.bar:before {
    content: "";
    position: absolute;
    right: 0px;
    top: 24px;
    height: 6px;
    width: 37px;
    background: #ff9966; 
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
    background: linear-gradient(to right, #ff5e62, #ff9966); 
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}
.bar:hover:after {
    width: 33px;
}
.bar:after {
    content: "";
    position: absolute;
    right: 0px;
    top: 12px;
    height: 6px;
    width: 37px;
    background: #ff9966; 
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
    background: linear-gradient(to right, #ff5e62, #ff9966); 
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}
.bar.active:after{
	opacity: 0;
}
.bar.active{
    position: fixed;
    right: 24px;
    top: 30px;
    height: 6px;
    width: 37px;
    background: #ff9966; 
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
    background: linear-gradient(to right, #ff5e62, #ff9966); 
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;	
    transform: rotate(45deg);
}
.bar.active:hover{
	transform: rotate(45deg) scale(.9);
}
.bar.active:before {
    content: "";
    position: absolute;
    top: 0px;
    height: 6px;
    width: 37px;
    background: #ff9966;
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
    background: linear-gradient(to right, #ff5e62, #ff9966);
    border-radius: 20px;
    cursor: pointer;
    transform: rotate(93deg);
    transition: 0.3s ease;
}
.demo-page p{
    padding-bottom: 35px;
}
.demo-page .source-code{
    background: #16BFFD; 
    background: -webkit-linear-gradient(to right, #CB3066, #16BFFD);  
    background: linear-gradient(to right, #CB3066, #16BFFD);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 13px 0px;
    color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,.2);
}
.demo-page h1{
    margin-top: 25px;
}
.demo-index .section{
    margin: 40px;
}
.demo-index section{
    background: #fafafa;
    border-radius: 20px;
    margin-top: 19px;
    margin-bottom: 25px;
    padding-bottom: 10px;
}
.demo-index h1{
    padding-top: 50px;
}
.demo-index .section p{
    margin-left: -22px;
    margin-bottom: -6px;
    margin-top: 0px;
    padding-top: 11px;
}
.section ul{
    text-align: left;
    width: 80%;
    margin-top: 20px;
}
.section li{
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    margin: 2px;
    margin-bottom: 1px;
    font-size: 16px;
}
.doc-page .section-doc{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 15px;
    color: #fff;
    transition: .3s ease;
    padding-bottom: 20px;
}
.doc-page .section-doc:nth-child(even){
    background: #005C97;
    background: -webkit-linear-gradient(to right, #363795, #005C97);
    background: linear-gradient(to right, #363795, #005C97);
}
.doc-page .section-doc:nth-child(odd){
    background: #e53935;
    background: -webkit-linear-gradient(to right, #e35d5b, #e53935);
    background: linear-gradient(to right, #e35d5b, #e53935);
}
.doc-page .section-doc:hover{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,.2);
}
.doc-page{
    padding-bottom: 50px;
}
.doc-page li a:after{
    content: "";
    background: #1e3c72;
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
    background: linear-gradient(to right, #2a5298, #1e3c72);
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 0%;
    height: 4px;
    border-radius: 5px;
    transition: .3s ease;
}
.doc-page li a:hover:after{
    width: 70%;
}
.doc-page li a{
    position: relative;
}
@media(min-width: 801px){
.doc-page .navbar a{
    color: #000;
}
.doc-page a:after{
    background: #1e3c72;
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
    background: linear-gradient(to right, #2a5298, #1e3c72);
}
}
.doc-page .logo{
    position: absolute;
    margin-left: 20px;
    font-size: 22px;
}